.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* * {
    margin: 0;
    padding: 0;
} */

.hero {
    background-image: url("../assets/Hero-bg.png");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 998px;
}

.hero-content>img {
    margin: 0px 0px 0px 320px;
}

.hero-content>h2 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.paragraph {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.hero-content>button  {
    padding: 21px 24px 21px 24px;
    margin: 32px 0px 32px 350px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    
}

.main {
    /* max-width: 1140px; */
}

.main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    max-width: 1440px;
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.main-1>h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.first-part {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 48px 0 48px 0;
}

.box {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    margin: 32px 0px;

}

.box-2 {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    margin: 32px 0px;
}

.btn-primary {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

.main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
}

.video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 28px;
    margin-top: 40px;
}

.iframe {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
}

.box-part {
    display: flex;
    gap: 10px;
}

.bp-1 {
    border-radius: 16px;
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 40px 0 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    text-align: left;
}

.box-color-1 {
    background: rgba(255, 76, 30, 0.05);
}

.box-color-2 {
    background: rgba(0, 76, 232, 0.05);
}

.box-color-3 {
    background: rgba(255, 223, 0, 0.05);
}

.main-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 314px;
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%),
        url("../assets/handshake.jpg");
    border-radius: 16px;
    background-position: center;
    color: white;
    text-align: center;
}

.main-3>p {
    margin: 0px 300px 25px 300px;
}


.support {
    display: flex;
}

.support>input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
    flex: none;
    order: 0;
    margin: 0px 16px;
    color: rgba(13, 19, 33, 0.4);
}

.support>button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-size{
    display: flex;
    justify-content: space-around;
    align-items: center;
}





